/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
@keyframes notify {
    from {
      text-shadow: none;
    }
    to {
      text-shadow: -1px -1px 4px #4b4a44, 1px -1px 4px #4b4a44, -1px 1px 4px #4b4a44, 1px 1px 4px #4b4a44;
    }
  }
  .wwn.sheet.actor .blinking {
    font-weight: bold;
    animation: 0.8s ease-in 1s infinite alternate notify;
  }
  .wwn.sheet.actor .panel {
    border: 1px solid rgba(0, 0, 0, 0.9);
  }
  .wwn.sheet.actor .panel .panel-title {
    color: whitesmoke;
    background: url("/systems/wwn/assets/back.png");
    line-height: 12px;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 4px;
    display: flex;
  }
  .wwn.sheet.actor .panel .panel-title h4 {
    flex: 1;
  }
  .wwn.sheet.actor .panel .panel-title .item-controls {
    font-size: 12px;
    flex: 0 0 18px;
  }
  .wwn.sheet.actor .panel .panel-content {
    margin: 0;
    padding: 0;
  }
  .wwn.sheet.actor .header-details h1 input {
    margin: 0 0 10px 0;
  }
  .wwn.sheet.actor .profile-img {
    border: 0;
    flex: 0 0 145px;
    height: 145px;
  }
  .wwn.sheet.actor .summary {
    flex: 0 0 100%;
    height: 44px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: none;
  }
  .wwn.sheet.actor .summary li {
    height: calc(100% - 6px);
    float: left;
    margin: 2px 0;
    padding: 0;
    line-height: 30px;
    color: #4b4a44;
    position: relative;
  }
  .wwn.sheet.actor .summary li label {
    line-height: 10px;
    position: absolute;
    font-size: 10px;
    color: #4b4a44;
    bottom: 0;
    left: 12px;
  }
  .wwn.sheet.actor .summary li.notify input {
    font-weight: bold;
    animation: 0.8s ease-in 1s infinite alternate notify;
  }
  .wwn.sheet.actor .sheet-tabs {
    position: absolute;
    transform: rotate(90deg);
    top: 365px;
    right: -179px;
    width: 340px;
    border-top: none;
    height: 18px;
    z-index: -1;
  }
  .wwn.sheet.actor .sheet-tabs .item {
    padding: 1px 10px 3px;
    margin-left: -5px;
    text-indent: 4px;
    line-height: 16px;
    background: url("/ui/parchment.jpg");
    border-top-right-radius: 4px;
    border-top-left-radius: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
    filter: brightness(0.9);
  }
  .wwn.sheet.actor .sheet-tabs .item.active {
    filter: none;
    z-index: 1;
    font-weight: bold;
    text-shadow: none;
    margin-bottom: -1px;
  }
  .wwn.sheet.actor .sheet-body {
    height: calc(100% - 140px);
  }
  .wwn.sheet.actor .sheet-body .tab {
    height: 100%;
  }
  .wwn.sheet.actor .sheet-body .attributes {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }
  .wwn.sheet.actor .sheet-body .attributes .attribute {
    position: relative;
    border: 1px solid #7a7971;
    box-shadow: 0 0 2px #7a7971;
  }
  .wwn.sheet.actor .sheet-body .attributes .attribute .attribute-name {
    color: whitesmoke;
    padding: 2px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background: url("/systems/wwn/assets/back.png");
    text-align: center;
  }
  .wwn.sheet.actor .sheet-body .attributes .attribute.ability-score {
    height: 40px;
  }
  .wwn.sheet.actor .sheet-body .attributes .attribute.ability-score .attribute-value {
    line-height: 36px;
  }
  .wwn.sheet.actor .sheet-body .attributes .attribute .attribute-value {
    text-align: center;
    padding: 4px;
  }
  .wwn.sheet.actor .sheet-body .attributes .attribute .attribute-mod {
    border-left: 1px solid #7a7971;
  }
  .wwn.sheet.actor .sheet-body .attributes .attribute .attribute-value .sep {
    flex: 0 0 5px;
    line-height: 24px;
  }
  .wwn.sheet.actor .sheet-body .attribute-group {
    flex: 0 0 88px;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes .attribute {
    display: flex;
    flex-direction: row;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes .attribute .attribute-name {
    width: 40px;
    margin: 0;
    line-height: 35px;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes .attribute .attribute-name a {
    margin: auto;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes .attribute.saving-throw .attribute-name {
    line-height: 16px;
    width: 80px;
    padding-top: 8px;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes .attribute.saving-throw .attribute-value {
    line-height: 29px;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes .attribute .attribute-value {
    width: 45px;
    flex-grow: 0;
  }
  .wwn.sheet.actor .sheet-body .attribute-group .attributes .attribute .attribute-value input {
    padding: 0;
  }
  .wwn.sheet.actor .sheet-body .inventory {
    overflow: auto;
  }
  .wwn.sheet.actor .sheet-body .inventory .header-spells {
    line-height: 30px;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-titles {
    text-align: center;
    padding: 4px 0;
    border: 1px solid rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    font-weight: 300;
    font-size: 13px;
    background: url("/systems/wwn/assets/back.png");
    color: white;
    margin-top: 7px;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-titles .item-name {
    text-align: left;
    text-indent: 8px;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-titles input {
    color: white;
    margin: auto;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list > * {
    line-height: 30px;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-summary {
    font-size: 13px;
    padding: 0 4px;
    line-height: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-summary .tag-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-summary .tag-list .tag {
    margin: 1px 2px;
    border: 1px solid #d8d6c9;
    font-size: 11px;
    line-height: 14px;
    background: #4b4a44;
    padding: 1px 4px;
    color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 0 1px #d8d6c9;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-header {
    padding: 0px;
    margin-bottom: 0px;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-entry:nth-child(even) .item {
    background: rgba(0, 0, 0, 0.1);
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item {
    line-height: 30px;
    height: 30px;
    overflow: hidden;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-equipped {
    grid-area: item-equipped;
    justify-self: center;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-rollable:hover .item-image {
    background-image: url("/icons/svg/d20-grey.svg") !important;
    cursor: pointer;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-rollable .item-image:hover {
    background-image: url("/icons/svg/d20-black.svg") !important;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-name {
    text-indent: 8px;
    text-align: left;
    overflow: hidden;
    height: 30px;
    margin: 0;
    line-height: 30px;
    flex-basis: 90px;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-name .item-image {
    flex-basis: 30px;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-list .item-name h4 {
    margin: 0;
  }
  .wwn.sheet.actor .sheet-body .inventory .icon-row img {
    border: none;
    margin: 3px 1px;
    flex: 0 0 24px;
  }
  .wwn.sheet.actor .sheet-body .inventory .icon-row span {
    font-size: 12px;
    flex-grow: 0;
  }
  .wwn.sheet.actor .sheet-body .inventory .field-flex {
    flex: 1;
    text-align: left;
    font-size: 12px;
    text-indent: 8px;
  }
  .wwn.sheet.actor .sheet-body .inventory .field-longer {
    text-indent: 8px;
    text-align: left;
    flex-basis: 90px;
    font-size: 12px;
  }
  .wwn.sheet.actor .sheet-body .inventory .field-long {
    flex-basis: 65px;
    flex-grow: 0;
    text-align: center;
    font-size: 12px;
  }
  .wwn.sheet.actor .sheet-body .inventory .field-long.memorize input {
    border-bottom: none;
    margin: 3px 0;
  }
  .wwn.sheet.actor .sheet-body .inventory .field-short {
    font-size: 12px;
    flex-basis: 45px;
    flex-grow: 0;
    text-align: center;
  }
  .wwn.sheet.actor .sheet-body .inventory .field-short.quantity {
    display: flex;
  }
  .wwn.sheet.actor .sheet-body .inventory .field-short.quantity input {
    margin: 3px 0;
    border-bottom: none;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-caret {
    flex: 0 0 10px;
    margin: 0 4px;
    cursor: pointer;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-controls {
    font-size: 12px;
    flex-basis: 60px;
    flex-grow: 0;
    text-align: right;
    margin-right: 4px;
  }
  .wwn.sheet.actor .sheet-body .inventory .item-controls .item-unequipped {
    color: rgba(0, 0, 0, 0.2);
  }
  .wwn.sheet.actor .sheet-body .inventory .item-controls .item-unstowed {
    color: rgba(0, 0, 0, 0.2);
  }
  .wwn.sheet.actor .sheet-body .inventory .item-controls .item-unprepared {
    color: rgba(0, 0, 0, 0.2);
  }
  .wwn.sheet.actor .sheet-body .inventory .item-controls a:hover {
    color: #44191A;
    text-shadow: 0 0 5px #d8d6c9, 1px 0 5px #d8d6c9, 0 1px 5px #d8d6c9, 1px 1px 5px #d8d6c9;
  }
  .wwn.sheet.actor .sheet-body .inventory.spells .item-titles {
    line-height: 24px;
  }
  .wwn.sheet.actor .sheet-body .inventory.spells .item-controls {
    flex-basis: 65px;
  }
  .wwn.sheet.actor .flexrow .readied-header {
    color: whitesmoke;
    padding: 2px;
    padding-top: 4px;
    margin: 2px;
    margin-bottom: 0px;
    margin-right: 0;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background: url("/systems/wwn/assets/back.png");
    text-align: center;
    vertical-align: middle;
  }
  .wwn.sheet.actor .flexrow .readied {
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #000000;
    box-shadow: 0 0 2px #7a7971;
    margin-top: 2px;
    margin-bottom: 0px;
    display: flex;
    width: 10px;
    vertical-align: middle;
  }
  .wwn.sheet.actor .flexrow .unspentPoints {
    display: flex;
    border: 1px solid #000000;
    box-shadow: 0 0 2px #7a7971;
  }
  .wwn.sheet.actor .sheet-body .editor {
    height: 300px;
    padding: 4px;
  }
  .wwn.sheet.actor .sheet-body .focus-tab .focus-desc label {
    color: whitesmoke;
    background: url("/systems/wwn/assets/back.png");
    line-height: 12px;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 4px;
    display: flex;
  }
  .wwn.roll-dialog .roll-details {
    font-weight: bold;
    text-align: center;
  }
  
  .wwn.dialog.creator .attribute-list .form-fields {
    flex: 0 0 50px;
  }
  .wwn.dialog.creator .attribute-list .form-fields input {
    text-align: center;
    font-weight: bold;
  }
  .wwn.dialog.creator .roll-stats {
    flex: 0 0 65px;
    padding: 5px;
    margin-left: 4px;
    border-left: 1px solid #7a7971;
  }
  .wwn.dialog.creator .roll-stats .form-group .form-fields span {
    text-align: center;
    line-height: 24px;
    flex: 0;
  }
  
  .wwn.dialog.party-xp .actors {
    height: 270px;
    padding: 0;
    overflow-y: auto;
  }
  .wwn.dialog.party-xp .form-group button {
    line-height: 18px;
    flex-grow: 0;
  }
  
  .wwn.dialog.party-sheet {
    min-width: 250px;
    min-height: 250px;
  }
  .wwn.dialog.party-sheet .window-content {
    padding: 0;
  }
  .wwn.dialog.party-sheet .header {
    color: whitesmoke;
    background: url("/systems/wwn/assets/back.png");
    padding: 4px 0;
    line-height: 20px;
    text-align: left;
    padding: 2px 10px;
  }
  .wwn.dialog.party-sheet .header .item-controls .item-control {
    padding: 0 2px;
  }
  .wwn.dialog.party-sheet .header .item-controls .item-control button {
    line-height: 15px;
    margin: 0 1px;
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid #b5b3a4;
  }
  .wwn.dialog.party-sheet .actor-list {
    margin: 0;
    overflow: auto;
    list-style: none;
    padding: 0;
  }
  .wwn.dialog.party-sheet .actor-list .actor {
    border-bottom: 1px solid #7a7971;
    border-top: 1px solid #7a7971;
    margin-bottom: 2px;
    font-size: 12px;
    text-align: center;
  }
  .wwn.dialog.party-sheet .actor-list .actor .fas {
    padding: 0 2px;
    font-size: 10px;
  }
  .wwn.dialog.party-sheet .actor-list .actor .fields .field-row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wwn.dialog.party-sheet .actor-list .actor .field-img {
    flex: 0 0 50px;
    position: relative;
  }
  .wwn.dialog.party-sheet .actor-list .actor .field-img:hover .img-btns button {
    display: block;
  }
  .wwn.dialog.party-sheet .actor-list .actor .field-img img {
    border: none;
    width: 45px;
    height: 45px;
  }
  .wwn.dialog.party-sheet .actor-list .actor .field-img .img-btns {
    position: absolute;
    bottom: 6px;
    left: 3px;
    width: 45px;
    height: 12px;
  }
  .wwn.dialog.party-sheet .actor-list .actor .field-img .img-btns button {
    display: none;
    cursor: pointer;
    font-size: 10px;
    height: 18px;
    width: 14px;
    line-height: 13px;
    margin: 0 1px;
    border: 1px solid #4b4a44;
    padding: 2px;
    background: #d8d6c9;
    box-shadow: inset 0 0px 3px #7a7971;
  }
  .wwn.dialog.party-sheet .field-name {
    text-align: left;
    text-indent: 10px;
  }
  
  #sidebar #actors .directory-header .header-search .wwn-party-sheet {
    width: 32px;
    text-align: center;
    line-height: 20px;
  }
  #sidebar #actors .directory-header .header-search input {
    width: calc(100% - 45px);
  }
  
  .wwn.dialog.modifiers .attribute-bonuses label {
    font-weight: bold;
  }
  .wwn.dialog.modifiers .attribute-bonuses ol {
    list-style: outside;
  }
  
  .sheet.roll-table-config .sheet-header .toggle-treasure {
    flex: 0 0 30px;
    font-size: 26px;
    line-height: 25px;
    color: white;
    margin: 0 2px 5px 8px;
    border-radius: 8px;
    background: url("/systems/wwn/assets/treasure.png") no-repeat center;
    background-size: cover;
    padding: 5px 8px;
    cursor: pointer;
    filter: grayscale(1) opacity(0.5);
  }
  .sheet.roll-table-config .sheet-header .toggle-treasure.active, .sheet.roll-table-config .sheet-header .toggle-treasure:hover {
    filter: none;
  }
  @keyframes activated {
    from {
      background: none;
    }
    to {
      background: rgba(0, 0, 0, 0.12);
    }
  }
  .sheet.roll-table-config .results .table-result.active {
    animation: 0.7s infinite alternate activated;
  }
  
  #settings .wwn.game-license {
    font-size: 12px;
  }
  #settings .wwn.game-license .button {
    text-align: center;
    margin: 4px;
  }
  #settings .wwn.game-license .footer {
    text-align: right;
  }
  
  .wwn.chat-block {
    margin: 0;
  }
  .wwn.chat-block .chat-header {
    height: 46px;
    margin: 4px 0;
    background: url("/systems/wwn/assets/back.png");
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 2px;
    box-shadow: 0 0 2px #fff inset;
  }
  .wwn.chat-block .chat-header .chat-title {
    margin: 4px 0;
    height: 30px;
    overflow: hidden;
  }
  .wwn.chat-block .chat-header .chat-title h2 {
    border: none;
    line-height: 34px;
    margin: 0;
    text-indent: 10px;
    font-size: 16px;
    word-break: break-all;
  }
  .wwn.chat-block .chat-header .chat-img {
    flex: 0 0 42px;
    background-size: cover;
  }
  .wwn.chat-block .chat-target {
    text-align: right;
    font-style: italic;
    padding: 2px;
  }
  .wwn.chat-block .chat-details {
    padding: 4px;
    font-size: 13px;
  }
  .wwn.chat-block .roll-result {
    font-size: 13px;
    text-align: center;
  }
  .wwn.chat-block .roll-result.roll-success {
    color: #18520b;
  }
  .wwn.chat-block .roll-result.roll-fail {
    color: #aa0200;
  }
  .wwn.chat-block .damage-roll {
    position: relative;
  }
  .wwn.chat-block .damage-roll .dice-damage {
    display: none;
    position: absolute;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    bottom: 1px;
    right: 10px;
  }
  .wwn.chat-block .damage-roll .dice-damage button {
    padding: 2px 5px;
    width: 22px;
    line-height: 14px;
    height: 22px;
    cursor: pointer;
  }
  .wwn.chat-block .damage-roll:hover .dice-damage {
    display: block;
  }
  
  .wwn.chat-card {
    font-style: normal;
    font-size: 12px;
  }
  .wwn.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;
  }
  .wwn.chat-card .card-header img {
    flex: 0 0 36px;
    margin-right: 5px;
    border: none;
  }
  .wwn.chat-card .card-header h3 {
    flex: 1;
    margin: 0;
    line-height: 36px;
    color: #4b4a44;
  }
  .wwn.chat-card .card-header h3:hover {
    color: #111;
  }
  .wwn.chat-card .card-content {
    margin: 5px 0;
  }
  .wwn.chat-card .card-content .treasure-list {
    padding: 0;
    list-style: none;
  }
  .wwn.chat-card .card-content .treasure-list .treasure {
    line-height: 36px;
  }
  .wwn.chat-card .card-content .treasure-list .treasure img {
    flex: 0 0 36px;
    border: none;
  }
  .wwn.chat-card .card-content .treasure-list .treasure div {
    text-indent: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .wwn.chat-card .card-content .treasure-list .sub {
    padding-left: 25px;
    line-height: 28px;
  }
  .wwn.chat-card .card-content .treasure-list .sub img {
    flex: 0 0 28px;
    border: none;
  }
  .wwn.chat-card .card-content .treasure-list .sub div {
    text-indent: 10px;
    font-size: 14px;
  }
  .wwn.chat-card .card-content h3 {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
  }
  .wwn.chat-card .card-content > * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  .wwn.chat-card .card-buttons {
    margin: 5px 0;
  }
  .wwn.chat-card .card-buttons span {
    display: block;
    line-height: 28px;
    text-align: center;
    border: 1px solid #7a7971;
  }
  .wwn.chat-card .card-buttons button {
    font-size: 12px;
    height: 24px;
    line-height: 20px;
    margin: 2px 0;
  }
  .wwn.chat-card .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;
  }
  .wwn.chat-card .card-footer span {
    border-right: 2px groove #fff;
    padding: 0 5px 0 0;
    font-size: 10px;
  }
  .wwn.chat-card .card-footer span:last-child {
    border-right: none;
    padding-right: 0;
  }
  
  .dice-roll .dice-total.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
  }
  .dice-roll .dice-total.failure {
    color: inherit;
    background: #ffdddd;
    border: 1px solid #6e0000;
  }
  .dice-roll .dice-total.critical {
    color: green;
  }
  .dice-roll .dice-total.fumble {
    color: red;
  }
  
  /* ----------------------------------------- */
  /*  Sheet Styles                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Basic Structure                          */
  /* ----------------------------------------- */
  .wwn.sheet.actor.character {
    min-width: 450px;
    min-height: 550px;
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Sheet Body                               */
    /* ----------------------------------------- */
    /* Encumbrance Bar */
    /* ----------------------------------------- */
    /*  Item Controls                            */
    /* ----------------------------------------- */
  }
  .wwn.sheet.actor.character .sheet-header .xp-bonus {
    top: -15px;
    right: 3px;
    color: #7a7971;
    font-size: 10px;
    position: absolute;
  }
  .wwn.sheet.actor.character .sheet-body .tab {
    height: 100%;
  }
  .wwn.sheet.actor.character .sheet-body .attributes-tab {
    justify-content: space-between;
    height: 100%;
  }
  #selectAttribute {
    padding: 0px;
    text-align: center;
    font-size: 13px;
    color: whitesmoke;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background: url("/systems/wwn/assets/back.png");
    text-align: center;
    flex: 60px;
  }
  .form-group .form-fields #unspentPoints {
    padding: 0px;
    text-align: center;
    font-size: 13px;
    color: whitesmoke;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-right: 0;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background: url("/systems/wwn/assets/back.png");
    text-align: center;
    flex: 60px;
  }
  .wwn.sheet.actor.character .sheet-body .attributes-tab .attribute-group {
    position: relative;
  }
  .wwn.sheet.actor.character .sheet-body .attributes-tab .attribute-group .modifiers-btn {
    position: absolute;
    left: 0;
    top: -8px;
  }
  .wwn.sheet.actor.character .sheet-body .resources {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .wwn.sheet.actor.character .sheet-body .resources .attribute {
    flex: 0 0 55px;
  }
  .wwn.sheet.actor.character .sheet-body .resources .attribute.attribute-secondaries {
    flex: 0 0 40px;
    margin-bottom: 5px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .languages {
    margin: 2px;
    flex: 0 0 130px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .languages .item-titles .item-controls {
    flex: 0 0 20px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .languages ol {
    height: 100px;
    overflow: auto;
    list-style: none;
    padding: 5px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .languages ol li {
    margin: 0;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .languages ol li:hover .item-controls {
    display: flex;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .languages ol li .item-controls {
    flex: 0 0 20px;
    display: none;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .description {
    margin: 2px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .description .editor {
    height: 110px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory .description .editor .tox .tox-tbtn {
    height: 24px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory.notes {
    margin: 2px;
  }
  .wwn.sheet.actor.character .sheet-body .notes-tab .inventory.notes .editor {
    height: 150px;
  }
  .wwn.sheet.actor.character .sheet-body .health {
    height: 70px;
    position: relative;
  }
  .wwn.sheet.actor.character .sheet-body .health.armor-class {
    background: url("/systems/wwn/assets/shield_full.png") no-repeat center;
    background-size: 70px;
  }
  .wwn.sheet.actor.character .sheet-body .health.armor-class .shield {
    text-align: right;
    padding: 0 14px;
    font-size: 18px;
    text-shadow: 0 0 2px white, 0 1px 2px white, 1px 0 2px white, 1px 1px 2px white;
  }
  .wwn.sheet.actor.character .sheet-body .health .health-value {
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 0 2px white, 0 1px 2px white, 1px 0 2px white, 1px 1px 2px white;
  }
  .wwn.sheet.actor.character .sheet-body .health .health-top {
    border-bottom: none;
    position: absolute;
    font-size: 24px;
    top: 10px;
    width: 70px;
    left: calc(50% - 35px);
  }
  .wwn.sheet.actor.character .sheet-body .health .health-bottom {
    border-bottom: none;
    position: absolute;
    bottom: 8px;
    width: 40px;
    right: calc(50% + -20px);
  }
  .wwn.sheet.actor.character .sheet-body .health .health-empty {
    background: url("/systems/wwn/assets/cracked_heart.png") no-repeat center;
    background-size: 75px;
    background-position: top;
  }
  .wwn.sheet.actor.character .sheet-body .health .health-full {
    background: url("/systems/wwn/assets/black_heart.png") no-repeat center;
    background-size: 75px;
    background-position: bottom;
  }
  .wwn.sheet.actor.character .sheet-body .health .strain-empty {
    background: url("/systems/wwn/assets/empty_blood3.png") no-repeat center;
    background-size: 44px 73px;
    background-position: top;
  }
  .wwn.sheet.actor.character .sheet-body .health .strain-full {
    background: url("/systems/wwn/assets/black_blood.png") no-repeat center;
    background-size: 44px 73px;
    background-position: bottom;
  }
  .wwn.sheet.actor.character .sheet-body .health.attribute.strain {
    border: none;
  }
  .wwn.sheet.actor.character .sheet-body .saving-throw .attribute-value.flat {
    line-height: 30px;
  }
  .wwn.sheet.actor.character .sheet-body .skills .attribute {
    margin: 0px;
  }
  .wwn.sheet.actor.character .sheet-body .skills .attribute .attribute-name {
    text-align: center;
    flex: 1 0 60px;
    line-height: 25px;
    font-size: 12px;
  }
  .wwn.sheet.actor.character .encumbrance {
    height: 12px;
    background: url("/systems/wwn/assets/back.png");
    margin: 1px 15px 0 1px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    position: relative;
  }
  .wwn.sheet.actor.character .encumbrance .encumbrance-bar {
    position: absolute;
    background: rgba(255, 0, 0, 0.6);
    height: 10px;
    border: 1px solid #777;
    border-radius: 2px;
  }
  .wwn.sheet.actor.character .encumbrance .encumbrance-label {
    height: 10px;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 13px;
    line-height: 12px;
    text-align: right;
    color: #EEE;
    text-shadow: 0 0 5px #000;
  }
  .wwn.sheet.actor.character .encumbrance .arrow-up {
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #d8d6c9;
  }
  .wwn.sheet.actor.character .encumbrance .arrow-down {
    top: 0;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #d8d6c9;
  }
  .wwn.sheet.actor.character .encumbrance.encumbered .arrow-up {
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  }
  .wwn.sheet.actor.character .encumbrance.encumbered .arrow-down {
    border-top: 4px solid rgba(0, 0, 0, 0.9);
  }
  
  .wwn .window-content .collapsed {
    display: none;
  }
  .wwn .window-content .margin {
    margin: 5px;
  }
  .wwn .window-content input {
    text-align: center;
  }
  .wwn .window-content input[type=number] {
    -moz-appearance: textfield;
  }
  .wwn .window-content input[type=number]::-webkit-inner-spin-button,
  .wwn .window-content input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .wwn .window-content input:not([type=checkbox]) {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: none;
  }
  .wwn .window-content .header-details input:not([type=checkbox]) {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #7a7971;
  }
  .wwn .window-content input:not([type=checkbox]):hover:not(:disabled), .wwn .window-content input:not([type=checkbox]):focus:not(:disabled) {
    box-shadow: none;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  }
  .wwn .window-content a:hover {
    text-shadow: none;
  }
  .wwn .window-content .resizable {
    overflow: auto;
  }
  
  .wwn.sheet.item .sheet-header h1 input {
    margin: 6px 2%;
  }
  .wwn.sheet.item .sheet-header .details {
    flex: 0 0 70px;
  }
  .wwn.sheet.item .sheet-header .details label {
    flex: 0 0 20px;
  }
  .wwn.sheet.item .sheet-header .profile-img {
    border: none;
    flex: 0 0 84px;
    height: 84px;
  }
  .wwn.sheet.item .sheet-header .tag-list {
    margin: 0;
    height: 24px;
    overflow: auto;
    list-style: none;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
  }
  .wwn.sheet.item .sheet-header .tag-list .tag {
    background: #4b4a44;
    border-radius: 5px;
    color: whitesmoke;
    padding: 1px 5px;
    height: 18px;
    box-shadow: 0 0 3px #d8d6c9;
    margin: 0 2px;
  }
  .wwn.sheet.item .sheet-header .tag-list .tag i {
    font-size: 8px;
    vertical-align: top;
    color: #d8d6c9;
  }
  .wwn.sheet.item .sheet-body .stats {
    flex: 0 0 80px;
    border-right: 1px groove rgba(0, 0, 0, 0.2);
    padding-right: 2px;
    font-size: 13px;
  }
  .wwn.sheet.item .sheet-body .stats .form-group {
    margin: 1px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .wwn.sheet.item .sheet-body .stats .form-group label {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 4px;
  }
  .wwn.sheet.item .sheet-body .stats .form-group input {
    border-bottom: none;
    margin: auto 0;
  }
  .wwn.sheet.item .sheet-body .stats .form-group .form-fields.range .sep {
    flex: 0 0 1px;
    background: #7a7971;
    margin: 4px 0;
  }
  .wwn.sheet.item .sheet-body .stats .form-group.attack-type {
    text-align: center;
    padding: 2px;
    font-size: 15px;
  }
  .wwn.sheet.item .sheet-body .stats .form-group.attack-type a {
    color: #969696;
  }
  .wwn.sheet.item .sheet-body .stats .form-group.attack-type a.active, .wwn.sheet.item .sheet-body .stats .form-group.attack-type a :hover {
    color: rgba(0, 0, 0, 0.9);
  }
  .wwn.sheet.item .sheet-body .stats .form-group {
    align-items: inherit;
  }
  .wwn.sheet.item .sheet-body .stats .form-group label {
    line-height: 21px;
  }
  .wwn.sheet.item .sheet-body .stats .form-group .form-fields {
    justify-content: space-evenly;
    height: 22px;
  }
  .wwn.sheet.item .sheet-body .stats .form-group .form-fields select {
    height: 24px;
  }
  .wwn.sheet.item .sheet-body .stats .block-input {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .wwn.sheet.item .sheet-body .stats.narrow .form-group input {
    height: 18px;
  }
  .wwn.sheet.item .sheet-body .description .editor {
    height: 370px;
  }
  .wwn.sheet.item .sheet-body .description .editor .editor-content {
    padding: 0 5px;
  }
  
  .wwn.actor.monster {
    min-height: 565px;
    min-width: 480px;
  }
  .wwn.actor.monster .header-details .summary .treasure-table {
    text-align: center;
  }
  .wwn.actor.monster .header-details .summary .check-field:hover .check {
    display: block;
  }
  .wwn.actor.monster .header-details .summary .check-field .check {
    display: none;
    line-height: 35px;
    flex: 0 0 20px;
    position: absolute;
    font-size: 12px;
  }
  .wwn.actor.monster .header-details .summary .check-field .check:hover {
    color: rgba(0, 0, 0, 0.9);
  }
  .wwn.actor.monster .sheet-body .editor {
    height: 300px;
  }
  .wwn.actor.monster .sheet-body .attributes-tab {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
  }
  .wwn.actor.monster .sheet-body .attributes-tab .attribute-row .attributes {
    justify-content: space-between;
  }
  .wwn.actor.monster .sheet-body .attributes-tab .attribute-row .attribute-group {
    margin: 5px;
  }
  .wwn.actor.monster .sheet-body .attributes-tab .attributes .attribute {
    flex: 0 0 60px;
  }
  .wwn.actor.monster .sheet-body .attributes-tab .attributes .attribute.health {
    flex: 0 0 85px;
  }
  .wwn.actor.monster .sheet-body .attributes-tab .attributes .attribute.saving-throw {
    flex: 0 0 40px;
  }
  .wwn.actor.monster .attributes .attribute.health {
    position: relative;
  }
  .wwn.actor.monster .attributes .attribute.health .attribute-name .hp-roll {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #d8d6c9;
  }
  .wwn.actor.monster .attributes .attribute.health .attribute-name .hp-roll:hover {
    color: white;
  }
  .wwn.actor.monster .attribute-group .attacks-description {
    margin: 2px;
    padding: 0;
    text-align: center;
  }
  .wwn.actor.monster .attribute-group .attacks-description label {
    color: #7a7971;
    font-size: 10px;
  }
  .wwn.actor.monster .panel.abilities .item-list .item-entry .item-pattern {
    flex: 0 0 15px;
    cursor: pointer;
  }
  .prepared {
    font-size: 10px;
    padding-left: 10px;
  }
  .checkbox_input {
    display: block;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  .row.after {
    content: "";
    display: table;
    clear: both;
  }
  .dialog-tweaks .row .column .form-group label {
    min-width: 140px;
  }
  .dialog-tweaks .row .column .header {
    text-align: center;
    font: bold;
  }
  /* ----------------------------------------- */
  /*  Sheet Styles                             */
  /* ----------------------------------------- */